<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="home"></ion-icon>
        <ion-label>{{ 'groupname.news' | translate }}</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <ion-icon name="map"></ion-icon>
        <ion-label>{{ 'groupname.flight' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map">
        <ion-icon name="paper-plane"></ion-icon>
        <ion-label>{{ 'groupname.glider' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="globe"></ion-icon>
        <ion-label>{{ 'groupname.place' | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>{{ 'groupname.account' | translate }}</ion-label>
      </ion-tab-button>


    </ion-tab-bar>
  </ion-tabs>
</ion-app>
